<?xml version='1.0'?>
<mastercontrol xmlns='http://www.dtechlabs.com/somethinghere'>
        <system><hostname>ISDNRTR</hostname></system>
        <ethernet iface='0'>
                <enabled />
                <ipaddress>192.168.50.1</ipaddress>
                <subnet>255.255.255.0</subnet>
                <mtu>1500</mtu>
        </ethernet>
</mastercontrol>
